.icons{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.icons button{
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2762bf; 
    border: 3px solid #3a72d1;
    cursor: pointer;
}
.itensSmallNav{
    margin-top: 1rem;
}

button .countCart{
    color: #004299;
    font-weight: 1000;
    background-color: #e7edf8;
    font-size: 14px;
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    margin-top: -10px;
}
@media (max-width: 479px ) {
    .nav{
        display: flex ;
        flex-direction: column ;
        color: #fff ;
        background-color: #004299 !important;
        padding: 1rem ;
    }
    .navbarSmall{
        display: flex ;
        flex-direction: column ;
        gap:10px
    }
    .navbarSmall .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbarSmall .row .inputSearch{
        width: 100%;
    }
    .navbarLarge{
        display: none;
    }
    .iconHamburguer svg{
        font-size: 30px ;
        color: #fff ;
    }
    .iconHamburguer{
        display: flex ;
        justify-content: center ;
        align-items: center;
        background: none;
    }
    .iconHamburguer button{
        background: none;
        border: none;
        cursor: pointer;
    }
    .icons svg{
        color: #fff;
        font-size: 22px;
    }
}
@media (max-width: 767px) and (min-width: 479px){
    .nav{
        display: flex;
        flex-direction: column;
        color: #fff;
        background-color: #004299  !important;
        padding: 1rem;
    }
    .navbarSmall{
        display: flex ;
        gap:10px;
        flex-direction: column ;
    }
    .navbarSmall .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbarSmall .row .inputSearch{
        width: 100%;
    }
    .navbarLarge{
        display: none;
    }
    .iconHamburguer svg{
        font-size: 30px;
        color: #fff;
    }
    .iconHamburguer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iconHamburguer button{
        background: none;
        border: none;
        cursor: pointer;
    }
    .icons svg{
        color: #fff;
        font-size: 22px;
    }
}
@media (max-width: 991px)  and (min-width: 767px){
    .nav{
        display: flex;
        flex-direction: column;
        color: #fff;
        background-color: #004299;
        padding: 1rem;
    }
    .navbarSmall{
        display: flex ;
        flex-direction: column ;
        gap:10px
    }
    .navbarSmall .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbarSmall .row .inputSearch{
        width: 100%;
    }
    .navbarLarge{
        display: none;
    }

    .iconHamburguer svg{
        font-size: 30px;
        color: #fff;
    }
    .iconHamburguer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iconHamburguer button{
        background: none;
        border: none;
        cursor: pointer;
    }
    .icons svg{
        color: #fff;
        font-size: 22px;
    }
}
@media (max-width: 1199px) and (min-width: 991px) {
    .nav{
        display: flex;
        flex-direction: column;
        color: #fff;
        background-color: #004299;
        padding: 1rem;
    }
    .navbarSmall{
        display: none;
    }
    .navbarLarge{
        display: flex;
        flex-direction: row;
        justify-content: center; 
    }
    .navbarLarge .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .navbarLarge .row .inputSearch{
        width: 55%;
    }
    .itensSmallNav{
        display: none;
    }
    .iconHamburguer {
        display: none;
    }
    .icons svg{
        color: #fff;
        font-size: 22px;
    }
}
@media (min-width: 1199px) {
    .nav{
        display: flex;
        flex-direction: column;
        color: #fff;
        background-color: #004299;
        padding: 1rem;
        box-shadow: 5px 5px 5px  rgb(107, 107, 107);
        height: 80px !important;
    }
    .navbarSmall{
        display: none;
    }
    .navbarLarge{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .navbarLarge .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .navbarLarge .row .inputSearch{
        width: 55%;
    }
    .itensSmallNav{
        display: none;
    }
    .iconHamburguer {
        display: none;
    }
    .icons svg{
        color: #fff;
        font-size: 22px;
    }
}