

.buttonsAreaCupons:hover{
    background-color: #002d75;
}

/* No seu arquivo CSS */
.css-1idz92c-MuiCircularProgress-svg{
    color: #FF5733 !important; /* Substitua pela cor desejada */
}

@media (max-width: 600px) {
    .buttonsAreaCupons{
        width: 100px;
        height: 21px;
        text-transform: uppercase;
        background-color: #004299;
        color: #fff;
        font-size: 60%;
        font-weight: bold;
        border: none;
        padding: 3px;
        cursor: pointer;
    }
}

@media (min-width: 600px) {
    .buttonsAreaCupons{
        width: 150px;
        height: 25px;
        text-transform: uppercase;
        background-color: #004299;
        color: #fff;
        font-size: 70%;
        font-weight: bold;
        border: none;
        padding: 3px;
        cursor: pointer;
    }
}