.cartContainer.open {
    right: 0; 
}

.carrinhoVazio{
    color: #0255c0;
    font-weight: bold;
    text-shadow: .5px .5px  #01377e;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #004299;
    color: #004299;
    font-size: 80%;
}
.btnClose {
    display: flex;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    color: #002d75;
}
.productsCart{
    margin: 2rem 0;
    display: flex;
    flex-direction:column-reverse ;
}
.totalCart{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.action{
    display: flex;
    flex-direction:column;
    gap: 8px;
    margin-bottom: .2rem;
}
.action button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 0;
    border: none;
    cursor:pointer;
}
.action .buy{
    background-color: #004299;
    color: #fff;
    border-radius: 5px;
    
}
.action .buy:hover{
    background-color: #002d75;
}
.action .exit{
    color: #004299;
    background: transparent;
}
.action .exit:hover{
    color: #002d75;
    background: transparent;
}
.action .exit h3{
    border-bottom: 1px solid #004299;
}
.iconTote{
    color: #fff;
    font-size: 1.5rem;
}
.cupons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;   
}
.cupons p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.totalEntrega{
    display: flex;
    flex-direction: column;
}
.totalEntrega p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #646363;
    font-weight: bold;
    font-size: 80%;
}
.valores{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 600px) {
    .cartContainer {
        width: 100%;
        min-width: 330px;
        background-color:  #efefef;
        height: 100%;
        position: fixed;
        padding: 0 20px;
        top: 0;
        right: -1000px; 
        z-index: 10;
        transition: right 0.5s ease; 
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 5px 5px 5px 5px #000;
    }

    .cupons p span{
        font-size: 61.5%;
        text-transform: uppercase;
        color: #646363;
        font-weight: bold;
    }

}
@media (max-width: 800px) and (min-width: 600px){
    .cartContainer {
        width: 380px;
        background-color:  #efefef;
        height: 100%;
        position: fixed;
        padding: 0 20px;
        top: 0;
        right: -430px; 
        z-index: 10;
        transition: right 0.5s ease; 
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 5px 5px 5px 5px #000;
    }
    .cupons p span{
        font-size: 70%;
        text-transform: uppercase;
        color: #646363;
        font-weight: bold;
    }
}
@media (min-width: 800px) {
    .cartContainer {
        width: 450px;
        background-color: #efefef;
        height: 100%;
        position: fixed;
        padding: 0 20px;
        top: 0;
        right: -600px; 
        z-index: 10;
        transition: right 0.5s ease; 
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 5px 5px 5px 5px #000;
    }
    .cupons p span{
        font-size: 70%;
        text-transform: uppercase;
        color: #646363;
        font-weight: bold;
    }
}
