.price{
    color: #004299;
    font-weight: bold;
}
.stars svg{
    color: #025ee9;
}



.productContainerBlock:hover{
    cursor:pointer;
}
.productContainerList:hover{
    cursor:pointer;
}
@media (max-width: 479px) {
    /*Block*/
    .productContainerBlock {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: .5rem;
        border: 2px solid #DDDFE2;
        border-radius: 10px;
        background-color: #fff;
    }
    .productContainerBlock .titleSmall{
        color: #525252;
    } 
    .productContainerBlock .titleLong{
        display: none;
    }
    .productContainerBlock .stars{
        width: 100%;
        text-align: end;
    }
    .productContainerBlock .ProductCardImagem{
        border-bottom: 1px solid #ccc;
    }
    .productContainerBlock .ProductCardImagem img{
        width: 120px;
        height: 140px;
        margin-bottom: 20px;
    }
    .productContainerBlock .cardInfo{
        height: 150px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /*List*/
    .productContainerList{
        display: flex;
        align-items: top;
        border: 2px solid #DDDFE2;
        border-radius: 10px;
        background-color: #fff;
        width: 95%;
        min-width: 300px;
        height: 200px;
        padding:0 15px ;
        gap: 15px;
    }
    .productContainerList .titleSmall{
        color: #525252;
    } 
    .productContainerList .titleLong{
        display: none;
    }
    .productContainerList .stars{
        width: 100%;
        text-align: left;
    }
    .productContainerList .ProductCardImagem {
        display: flex;
        align-items: center;
    }
    .productContainerList .ProductCardImagem img{
        width: 120px;
        height: 140px;
        margin-bottom: 20px;
    }
    .productContainerList .cardInfo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem 0;
    }
}
@media (max-width: 767px) and (min-width: 479px){
    /*Block*/
    .productContainerBlock {
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: .5rem;
        border: 2px solid #DDDFE2; 
        border-radius: 10px;
        background-color: #fff;
    }
    .productContainerBlock .titleSmall{
        color: #525252;
    } 
    .productContainerBlock .titleLong{
        display: none;
    }
    .productContainerBlock .stars{
        width: 100%;
        text-align: end;
    }
    .productContainerBlock .ProductCardImagem{
        border-bottom: 1px solid #ccc;
    }
    .productContainerBlock .ProductCardImagem img{
        width: 120px;
        height: 140px;
        margin-bottom: 20px;
    }
    .productContainerBlock .cardInfo{
        height: 150px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .productContainerBlock .cardInfo{
        height: 150px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /*List*/
    .productContainerList{
        display: flex;
        align-items: top;
        border: 2px solid #DDDFE2; 
        border-radius: 10px;
        background-color: #fff;
        width: 95%;
        max-width: 1650px;
        height: 200px;
        padding:0 15px ;
        gap: 15px;
    }
    .productContainerList .titleSmall{
        color: #525252;
    } 
    .productContainerList .titleLong{
        display: none;
    }
    .productContainerList .stars{
        width: 100%;
        text-align: left;
    }
    .productContainerList .ProductCardImagem {
        display: flex;
        align-items: center;
    }
    .productContainerList .ProductCardImagem img{
        width: 120px;
        height: 140px;
        margin-bottom: 20px;
    }
    .productContainerList .cardInfo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem 0;
    }
}
@media (max-width: 991px)  and (min-width: 767px){
     /*Block*/
     .productContainerBlock {
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: .5rem;
        border: 2px solid #DDDFE2; 
        border-radius: 10px;
        background-color: #fff;
    }
    .productContainerBlock .titleSmall{
        display: none;
    } 
    .productContainerBlock .titleLong{
        color: #525252;
    }
    .productContainerBlock .stars{
        width: 100%;
        text-align: end;
    }
    .productContainerBlock .ProductCardImagem{
        border-bottom: 1px solid #ccc;
    }
    .productContainerBlock .ProductCardImagem img{
        width: 120px;
        height: 140px;
        margin-bottom: 20px;
    }
    .productContainerBlock .cardInfo{
        height: 150px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /*List*/
    .productContainerList{
        display: flex;
        align-items: top;
        border: 2px solid #DDDFE2;
        border-radius: 10px;
        background-color: #fff;
        width: 95%;
        max-width: 1650px;
        height: 200px;
        padding:0 15px ;
        gap: 15px;
    }
    .productContainerList .titleSmall{
        display: none;
    } 
    .productContainerList .titleLong{
        color: #525252;
    }
    .productContainerList .stars{
        width: 100%;
        text-align: left;
    }
    .productContainerList .ProductCardImagem {
        display: flex;
        align-items: center;
    }
    .productContainerList .ProductCardImagem img{
        width: 120px;
        height: 140px;
        margin-bottom: 20px;
    }
    .productContainerList .cardInfo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem 0;
    }
}
@media (max-width: 1199px) and (min-width: 991px) {
     /*Block*/
     .productContainerBlock {
        width: 300px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: .5rem;
        border: 2px solid #DDDFE2;
        border-radius: 10px;
        background-color: #fff;
    }
    .productContainerBlock .titleSmall{
        display: none;
    } 
    .productContainerBlock .titleLong{
        color: #525252;
    }
    .productContainerBlock .stars{
        width: 100%;
        text-align: end;
    }
    .productContainerBlock .ProductCardImagem{
        border-bottom: 1px solid #ccc;
    }
    .productContainerBlock .ProductCardImagem img{
        width: 120px;
        height: 140px;
        margin-bottom: 20px;
    }
    .productContainerBlock .cardInfo{
        height: 150px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /*List*/
    .productContainerList{
        display: flex;
        align-items: top;
        border: 2px solid #DDDFE2;
        border-radius: 10px;
        background-color: #fff;
        width: 95%;
        max-width: 1650px;
        height: 200px;
        padding:0 15px ;
        gap: 15px;
    }
    .productContainerList .titleSmall{
        display: none;
    } 
    .productContainerList .titleLong{
        color: #525252;
    }
    .productContainerList .stars{
        width: 100%;
        text-align: left;
    }
    .productContainerList .ProductCardImagem {
        display: flex;
        align-items: center;
    }
    .productContainerList .ProductCardImagem img{
        width: 120px;
        height: 140px;
        margin-bottom: 20px;
    }
    .productContainerList .cardInfo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem 0;
    }
}

@media (min-width: 1199px) {
     /*Block*/
     .productContainerBlock {
        width: 300px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: .5rem;
        border: 2px solid #DDDFE2;
        border-radius: 10px;
        background-color: #fff;
    }
    .productContainerBlock .titleSmall{
        display: none;
    } 
    .productContainerBlock .titleLong{
        color: #525252;
    }
    .productContainerBlock .stars{
        width: 100%;
        text-align: end;
    }
    .productContainerBlock .ProductCardImagem{
        border-bottom: 1px solid #ccc;
    }
    .productContainerBlock .ProductCardImagem img{
        width: 120px;
        height: 140px;
        margin-bottom: 20px;
    }
    .productContainerBlock .cardInfo{
        height: 150px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /*List*/
    .productContainerList{
        display: flex;
        justify-content: center;
        align-items: top;
        border: 2px solid #DDDFE2;
        border-radius: 10px;
        background-color: #fff;
        width: 75%;
        max-width: 1650px;
        height: 200px;
        padding:0 15px ;
        gap: 15px;
    }
    .productContainerList .titleSmall{
        display: none;
    } 
    .productContainerList .titleLong{
        color: #525252;
    }
    .productContainerList .stars{
        width: 100%;
        text-align: left;
    }
    .productContainerList .ProductCardImagem {
        display: flex;
        align-items: center;
    }
    .productContainerList .ProductCardImagem img{
        width: 160px;
        height: 180px;
        margin-right: 40px;
    }
    .productContainerList .cardInfo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem 0;
    }
}
