.resultadoPesquisa p{
    color: #767b80;
    font-weight: 1000;
    font-size: 120%;
}

.resultadoPesquisa span{
    color: #767b80;
    font-weight:600;
    margin-left:.5rem ;
}
@media (max-width: 479px) {
    .resultadoPesquisa{
        width: 85%;
        margin:1rem ;
        text-transform: uppercase;

    }
}
@media (max-width: 767px) and (min-width: 479px){
    .resultadoPesquisa{
        width: 85%;
        margin:1rem ;
        text-transform: uppercase;

    }
    
}
@media (max-width: 991px) and (min-width: 767px){
    .resultadoPesquisa{
        width: 85%;
        margin:2.5rem ;
        text-transform: uppercase;

    }

}
@media (max-width: 1199px) and (min-width: 991px) {
    .resultadoPesquisa{
        width: 85%;
        margin:1rem ;
        text-transform: uppercase;
    }
}
@media (min-width: 1199px) {
    .resultadoPesquisa{
        width: 85%;
        margin:2rem ;
        text-transform: uppercase;

    }
}